# common makefile holding variables with sensitive information

# MySQL database connection parameters
DBUSER  := login
DBPASS  := pass
DBUSERV := login
DBPASSV := pass
DBUSER_EASYBGEE := login
DBPASS_EASYBGEE := pass

# Annotator machine
ANNOTATORLOGIN := login

# Cluster account
CLUSTERLOGIN := login
CLUSTERPASSW := pass
SENSITIVE_CLUSTER_PARTITION := partition_sensitive
CLUSTER_PARTITION := partition
SENSITIVE_CLUSTER_ACCOUNT := account_sensitive
CLUSTER_ACCOUNT := account

# Machine used for the pipeline
PIPELOGIN  := login
PIPEPASSWD := pass

# Machine used for RNA-seq data storage
DATALOGIN  := login
DATAPASSWD := pass

# FTP
FTPUSER := login
FTPPASS := pass

# VIRTUOSO
VIRTUSER := login
VIRTPASS := pass
