[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sparqlwrapper = "2.0.0"
rdflib = "7.1.4"
isodate = "0.7.2"
pyparsing = "3.2.3"
six = "1.17.0"
pandas = "2.3.2"

[dev-packages]

[requires]
python_version = "3"